############################################
# Node (monorepo)
############################################
node-js/node_modules/
node-js/dist/
node-js/build/
*.tsbuildinfo


############################################
# Logs
############################################
*.log
*.log.*
logs/


############################################
# Environment
############################################
.env
.env.*
!.env.example


############################################
# OS
############################################
.DS_Store
Thumbs.db
Desktop.ini


############################################
# Editor
############################################
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea/
*.iml


############################################
# Temp / Cache
############################################
tmp/
temp/
.cache/
.nyc_output/
coverage/